@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans Condensed', sans-serif;
}

html {
	font-size: 65%;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	background: #f5f5f5;
}

nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #34495e;
}

li {
	float: left;
}

li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #bbb;
}

li a:hover {
	background: #b71c1c;
}

#vertical {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.content {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.first {
	background: #000;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

form {
	background: #ccc;
	border: 1px solid #191970;
	border-radius: 5px;
	overflow: hidden;
	margin: 5px;
	padding: 2px;
}

input {
	border-radius: 5px;
	margin: 0;
}

.contact label {
	color: #396870;
	display: block;
	font-weight: block;
	margin-bottom: 20px;
}

.contact input {
	background: #fff;
	bordeR: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	padding: 6px;
	color: #636466;
	width: 100%;
	margin-top: 6px;
}

button {
	background: linear-gradient(#49708f, #293f50);
	border: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
}

footer {
	margin-top: 25%;
	width: 100%;
}

#mail {
	border: 1px solid #000;
	margin-top: 15%;
	background: #673ab7;
	text-decoration: none;
	color: #fff;
}

table {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

table a {
	border: 2px solid #000;
	background: #673ab7;
	text-decoration: none;
	color: #fff;
	padding: 14px 16px;
}
